@page "/current-sequence"
@inject ISequenceClient _sequenceClient

<PageTitle>WSIWOT: Change Current Sequeunce Nubmer</PageTitle>

<div class="row">
    <div class="col">
        @if (_currentSequenceNumber == 0)
        {
            <Loading />
        }
        else
        {
            <h3>Current Sequeunce Number: @_currentSequenceNumber</h3>
            <EditForm Model="_newSequenceNumber" OnValidSubmit="HandleValidSubmit">

                <div class="mb-3">
                    <label class="form-label">Set Sequeunce Number</label>
                    <InputNumber class="form-control form-control-sm w-auto"
                             @bind-Value=_newSequenceNumber />
                </div>
                <div>
                    <button type="submit" class="btn btn-primary">Change Sequence</button>
                </div>
            </EditForm>
        }
    </div>
</div>


@code {
    private int _currentSequenceNumber;
    private int _newSequenceNumber = 0;

    protected async override Task OnParametersSetAsync()
    {
        await LoadData();
    }

    private async Task LoadData()
    {
        _currentSequenceNumber = await _sequenceClient.GetSequenceNumberAsync();
        StateHasChanged();
    }

    private async Task HandleValidSubmit(EditContext editContext)
    {
        await _sequenceClient.SetSequenceNumberAsync(_newSequenceNumber);
        _currentSequenceNumber = _newSequenceNumber;

        editContext.MarkAsUnmodified();
    }
}
