@page "/work-sequence"
@inject IWorkItemClient _workItemClient

<PageTitle>WSIWOT: Set Work Item Sequeunce</PageTitle>

<div class="col">
    <div class="row">
        <ErrorMessage Error="@_errorMessage" />
        @if (_workItems is null)
        {
            <Loading />
        }
        else
        {
            <p>
                Set the sequence number for each work item. Multiple items can have the same sequeunce number. If an item has a sequence number less than one then it will only show up
                when the 'Random Item' button is pressed on the Home page.
            </p>

            <table class="table table-striped table-sm table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Sequence</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in _workItems)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>
                                <input class="form-control form-control-sm" type="number" value="@item.SequenceNumber"
                               @onchange="(e) => UpdateSequenceNumber(e, item)">
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>

@code {
    private List<WorkItem>? _workItems;
    private string? _errorMessage = null;

    protected override async Task OnInitializedAsync()
    {
        await UpdateData();
    }

    private async Task UpdateData()
    {
        _workItems = await _workItemClient.GetAllAsync();
        StateHasChanged();
    }

    private async Task UpdateSequenceNumber(ChangeEventArgs e, WorkItem workItem)
    {
        var seqNum = int.Parse((e.Value as string)!);

        try
        {
            workItem.SequenceNumber = seqNum;
            await _workItemClient.UpdateAsync(workItem);
        }
        catch (Exception ex)
        {
            _errorMessage = "An error occured while attempting to contact the API: " + ex.Message;
        }

    }
}