@page "/todos/{workItemId:int}"
@inject ITodoItemEndpoint _todoItemData
@inject IWorkItemEndpoint _workItemData

<div class="row">
    <div class="col">
        <ErrorMessage Error="@_errorMessage" />

        @if (_todoItems is null)
        {
            <Loading />
        }
        else
        {
            <h3 class="text-center">@_workItem?.Name Todo Items</h3>

            <div class="mb-2">
                <button class="btn btn-warning" onclick="history.back()">
                    Back
                </button>
            </div>

            <div class="mt-2 mb-2">
                <input type="text" class="form-control form-control-sm w-auto" @bind="_task" />
                <button class="btn btn-primary mt-1" @onclick="AddTask">
                    Add Item
                </button>
            </div>

            <h4 class="text-center mt-4">Task List</h4>
            <div class="d-flex justify-content-center">
                <table class="table table-sm table-striped table-bordered w-75">
                    <thead>
                        <tr>
                            <th>
                                Task
                            </th>
                            <th>
                                Date Completed
                            </th>
                            <th>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in _todoItems)
                        {
                            <tr>
                                <td>
                                    <span class="@(item.DateCompleted is null ? "" : "text-decoration-line-through")">@item.Task</span>
                                </td>
                                <td>
                                    @item.DateCompleted?.ToShortDateString()
                                </td>
                                <td class="text-center">
                                    @if (item.DateCompleted is null)
                                    {
                                        <button class="btn btn-sm btn-warning" @onclick="() => CompleteItem(item.TodoItemId)">
                                            Complete
                                        </button>
                                    }
                                    else
                                    {
                                         <button class="btn btn-sm btn-danger" @onclick="() => UnCompleteItem(item.TodoItemId)">
                                            Un-Complete
                                        </button>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>
</div>

@code {
    [Parameter]
    public int WorkItemId { get; set; }

    private IEnumerable<TodoItem>? _todoItems = null;
    private string? _errorMessage = null;
    private string _task = string.Empty;
    private WorkItem? _workItem;

    protected async override Task OnParametersSetAsync()
    {
        await UpdateData();
    }

    private async Task UpdateData()
    {
        try
        {
            _todoItems = await _todoItemData.GetAsync(WorkItemId);
            _workItem = await _workItemData.GetAsync(WorkItemId);
            _errorMessage = null;
        }
        catch (Exception ex)
        {
            _errorMessage = "API Error: " + ex.Message;
        }
    }

    private async Task CompleteItem(int todoItemId)
    {
        try
        {
            await _todoItemData.CompleteAsync(todoItemId);
            _errorMessage = null;
            await UpdateData();
        }
        catch (Exception ex)
        {
            _errorMessage = "API Error: " + ex.Message;
        }
    }

    private async Task UnCompleteItem(int todoItemId)
    {
        try
        {
            await _todoItemData.UnCompleteAsync(todoItemId);
            _errorMessage = null;
            await UpdateData();
        }
        catch (Exception ex)
        {
            _errorMessage = "API Error: " + ex.Message;
        }
    }

    private async Task AddTask()
    {
        if (string.IsNullOrWhiteSpace(_task))
        {
            _errorMessage = "Empty tasks not allowed";
            return;
        }
        try
        {
            await _todoItemData.PostAsync(new TodoItem
                {
                    WorkItemId = WorkItemId,
                    Task = _task
                });
            _task = string.Empty;
            _errorMessage = null;
            await UpdateData();
        }
        catch (Exception ex)
        {
            _errorMessage = "API Error: " + ex.Message;
        }
    }
}
